
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  margin: 0px;
  background-color: rgb(38, 38, 38);
}


form{
  background-color: rgb(81, 73, 83);
  border-radius: 20px;
  text-align: center;
  padding-bottom: 2%;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

table{
  padding: 5%;
  margin-left: auto;
  margin-right: auto;

}

table tr th{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

table tr th label{
  color: wheat;
}

table tr th input{
  background-color: grey;
  color:whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
form input{
  font-family: 'Open Sans', sans-serif;
}

.btns button,
.btns input{
  border: none;
  padding: 4px;
  border-radius: 4px;
  margin:5px;
  background-color:rgb(35, 37, 41);
  font-family: 'Open Sans', sans-serif;
  color:aliceblue;
  font-weight: bold;
  transition:ease-in-out;
  transition-duration: 250ms;
}

.btns button:hover,
.btns input:hover{
  background-color: rgb(38, 38, 38);
}

form a{
  color: aliceblue;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.canvases{
  text-align: center;
}

canvas{
  border:none;
}